*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/carlao.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 8.375rem;

}

.textos{
    display: table-column;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    color: white;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}